
* {
	margin: 0;
	padding: 0;
	list-style: none;
	font-family: sans-serif;
}

#chat{
	position: fixed;
	width: 250px;
	height: 40px;
	bottom: 0;
	right: 20px;
	background: yellowgreen;
	z-index: 1;
	color: white;
	text-align: center;
	line-height: 40px;
	font-family: 'Kalam', cursive;
	font-size: 20px;
	border-radius: 20px 20px 0 0;
	cursor: pointer;
}


header {
	position: relative;
	margin: auto;
	width: 100%;
	height: 80px;
	/* background: #444; */
}

#logo {
	position: absolute;
	top: 10px;
	left: 10px;
	width: 40%;
	height: 60px;
	/* background: #ccc; */
	font-family: 'Kalam', cursive;
	/*tamaño de el texto*/
	font-size: 30px;
	font-weight: bold;
	/*alinea el texto horizonta*/
	text-align: left;
	/*alinea el texto vertical*/
	line-height: 60px;
}

#logo img {
	width: 60px;
}



.redes{
	position: absolute;
	width: 42px;
	height: 42px;
	/* background: #ccc; */
	border-radius: 100%;
	font-size: 12px;
	text-align: center;
	line-height: 42px;
}

#icono1 {
	width: 60px;
	height: 60px;
	top: 10px;
	right: 125px;
	border-radius: 5px;
	background: greenyellow;
	text-align: center;
	line-height: 60px;
	color: white;
}

#icono2 {
	top: 20px;
	right: 71px;
	font-weight: bold;
	text-align: center;
	background: red;
	color: white;
}

#icono3 {
	top: 20px;
	right: 19px;
	font-weight: bold;
	text-align: center;
	/* background: #AB0000; */
	color: white;
}


#icono3 a {
	text-decoration: none;
	color: #AB0000;
}

#icono3 a:hover {
	color: red;
}

#icono3 a:active {
	color: black;
}



nav {
	position: relative;
	width: 100%;
	height: 30px;
	line-height: 30px;
	background: #AB0000;
}

nav p {
	margin-right: 20px;
	text-align: right;
	font-family: 'Kalam', cursive;
	font-weight: bold;
	color: #ccc;
}

.botones{
	float: left;
	width: 10%;
	height: 40px;
	background: #D50000;
	font-family: 'Kalam', cursive;
	color: white;
	text-align: center;
	line-height: 40px;
}

a .botones:hover {
	background: rgba(80, 0, 200, 1);
	color: white;
}

a .botones:active {
	background: rgba(255, 0, 100, 1);
}

#top {
	position: relative;
	margin: 20px auto;
	width: 1000px;
	height: 192px; 
}

#top ul {
	width: 1010px;
	height: 192px;
}

#top ul li {
	float: left;
	width: 326px;
	height: 192px;
	background: black; 
	margin-right: 10px;
	text-align: center;
}

#top ul li img {
	border-radius: 100%;
	height: 100px;
}

#top ul li h1 {
	font-family: 'Kalam', cursive;
}

#top ul li p {
	font-size: 14px;
	margin: 10px;
}

section {
	position: relative;
	margin: 0;
	width: 100%;
	height: 600px;
	/* background: #aaa; */
}

aside#izq {
	position: absolute;
	left: 0;
	top: 0;
	width: 15%;
	height: 600px;
	background: #333;
}

aside#izq ul li {
	background: #AB0000;
	padding: 10px;
	margin: 5px 0;
	list-style:none;
	list-style-position:inside;
	list-style-image:url(lista.png);
}

aside#izq ul li a {
	text-decoration: none;
	color: white;
}

aside#der {
	position: absolute;
	right: 0;
	top: 0;
	width: 15%;
	height: 500px;
	background: #333;
}

aside#der h1 {
	width: 200px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	background: rgba(100, 0, 255, 1);
	color: white;
	margin-bottom: 5px;
}

aside#der input {
	padding: 10px;
	margin: 5px 0;
	width: 176px;
}

aside#der input[type="text"] {
	background:url(usuario.png);
	background-repeat: no-repeat;
	background-position: right;
	background-size: contain;
}

aside#der input[type="password"] {
	background:url("password.png");
	background-repeat: no-repeat;
	background-position: right;
	background-size: contain;
}

aside#der input[type="submit"] {
	width: 200px;
	background: rgba(100, 0, 100, .5);
	border: 0;
}


article {
	position:absolute;
	left:15%;
	top:0;
	width:85%;
	height:453px;
}

.tablebds {
	margin: 30px 20px;
	align-content: center;
	width: 80%;
	background: white;
}

.tablebds th {
	height: 35px;
	background: #7B7D7D;
}

.tablebds tr {
	height: 25px;
}

.tablebds tr:hover {
	background: #D0D3D4;
}

td .centro {
	width: 25%;
   text-align: center;
   vertical-align: center;
   border: ;
   border-collapse: collapse;
   padding: 0.3em;
   caption-side: bottom;
}

.navtable {
	margin: 10px 20px;
	float: left;
	width: 80%;
	height: 40px;
	background: #D50000;
	font-family: 'Kalam', cursive;
	align-content: center;
	text-align: center;
	line-height: 40px;
	color: white;
}

.navtable #navboton {
	float: left;
	margin: 0 10px;
	width: 5%;
	height: 40px;
	background: gray;
	font-family: 'Kalam', cursive;
	color: white;
	text-align: center;
	line-height: 40px;
}

article h1 {
	font-family: 'Kalam', cursive;
	font-size: 40px;
	margin: 20px;
}

article p img {
	float: left;
	margin-right: 20px;
}

article p {
	margin: 10px 20px;
	font-size: 16px;
	text-align: justify;
}

footer {
	position: relative;
	margin: 0;
	width: 100%;
	height: 30px;
	background: #AB0000;
	text-align: center;
	line-height: 30px;
	color: white;
}


/*estilos para convertir lista en tipo boton*/

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.button1 {
    background-color: #4CAF50; 
    color: white; 
    border: 2px solid #4CAF50;
    border-radius: 6px;
}

.button1:hover {
    background-color: white;
    color: black;
}

.button2 {
    background-color:  #008CBA; 
    color: white; 
    border: 2px solid #008CBA;
    border-radius: 6px;
}

.button2:hover {
    background-color: white;
    color: black;
}

.button3 {
    background-color: #f44336; 
    color: white; 
    border: 2px solid #f44336;
    border-radius: 6px;
}

.button3:hover {
    background-color: white;
    color: black;
}

.button4 {
    background-color: white;
    color: black;
    border: 2px solid #e7e7e7;
}

.button4:hover {background-color: #e7e7e7;}

.button5 {
    background-color: white;
    color: black;
    border: 2px solid #555555;
}

.button5:hover {
    background-color: #555555;
    color: white;
}
